.tab2-content {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 20px;

  .social-list {
    padding: 2rem;
    display: flex; /* Added this line to make items display horizontally */
    flex-wrap: wrap;

    .social-item {
      font-size: 20px;
      width: auto; /* Adjusted width to fit content tightly */
      margin: 10px;
      padding: 20px;
      border: 1px solid #ccc;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      .social-item h3 {
        margin-top: 0;
      }

      .input-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
      }

      .input-label {
        margin-right: 5px;
      }

      .input-checkbox {
        width: 40px; /* Adjust the width to make it more squared */
        height: 40px; /* Adjust the height to make it more squared */
        margin: 0;
        padding: 0;

        border: 1px solid #ccc; /* Add border for checkbox appearance */
        cursor: pointer;
        font-size: 20px;
      }
    }
  }
  .add-social-media {
    display: flex;
    margin-top: 10px;

    .add-social-media-input {
      width: 250px; /* Adjust the width to make it more squared */
      height: 30px; /* Adjust the height to make it more squared */
      margin: 0;
      padding: 0;
      font-size: 20px;
    }

    .add-social-media-count {
      width: 50px; /* Adjust the width to make it more squared */
      height: 30px; /* Adjust the height to make it more squared */
      margin-left: 10px;
      padding: 0;
      font-size: 20px;
    }

    .add-social-media-button {
      height: 30px; 
      margin-left: 10px;
      font-size: 20px;
    }
  }
}
