.tab2-content {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
  .social-list {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;

    .social-item {
      font-size: 20px;
      width: auto;
      margin: 10px;
      padding: 20px;
      border: 1px solid #ccc;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      min-height: 170px;
      min-width: 220px;
  
      .social-item h3 {
        margin-top: 0;
      }

      .input-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
      }

      .input-label {
        margin-right: 5px;
      }

      .platform {
        margin-left: 5px;
        align-items: center;
        margin-top: 10px;
        font-size: 18px;

        svg {
          margin-right: 10px; 
          font-size: 24px; 
        }
      }

      .input-checkbox {
        width: 40px; 
        height: 40px; 
        margin: 0;
        padding: 0;
        border: 1px solid #ccc; 
        font-size: 20px;
        margin-left: 5px;
      }

      .bottom-right-icon {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        transform: translate(50%, 50%);
      }
    }
  }

  .add-social-media {
    display: flex;
    margin-top: 10px;

    .add-social-media-input {
      width: 250px; 
      height: 30px; 
      margin: 0;
      padding: 0;
      font-size: 20px;
    }

    .add-social-media-count {
      width: 50px; 
      height: 30px; 
      margin-left: 10px;
      padding: 0;
      font-size: 20px;
    }

    .add-social-media-button {
      height: 32.5px;
      margin-left: 10px;
      font-size: 20px;
    }
  }
}
@media (max-width: 768px) {

  .tab2-content {
    display: flex;
    flex-direction: column;
  }

  h2{
    align-self: center;
  }

  .add-social-media{
    margin: 10px;
    padding: 32px;
    border: 1px solid #ccc;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 120px;
    margin-bottom: 2rem;
    justify-content: space-between;
    
  }

  .add-social-media-input{
   margin-bottom: 2rem;
   padding-bottom: 2rem;

  }

  .social-list {
    justify-content: center;
    margin-top: 1rem;
  }
}
