.tab2-content {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
}
/* analytics.module.scss */

.chart-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .recharts-surface {
    font-family: Arial, sans-serif;
  }
  
  .recharts-cartesian-grid-horizontal line {
    stroke: #d0d0d0;
    stroke-width: 1px;
    stroke-dasharray: 3 3;
  }
  
  .recharts-cartesian-grid-vertical line {
    stroke: #d0d0d0;
    stroke-width: 1px;
    stroke-dasharray: 3 3;
  }
  
  .recharts-legend-item-text {
    font-size: 14px;
    font-weight: bold;
  }
  
  .recharts-legend-item {
    cursor: pointer;
  }
  
  .recharts-tooltip {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .recharts-tooltip-label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .recharts-tooltip-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .recharts-tooltip-item-name {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
  }
  
  .recharts-tooltip-item-value {
    font-weight: bold;
  }
  
  .recharts-legend-item-active .recharts-legend-item-text {
    font-weight: bold;
  }
  
  .recharts-line-dot {
    stroke-width: 2px;
  }
  
  /* Add more custom styling as needed */
  