.social-list {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
  }
  
  .social-item {
    width: 200px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
  }
  