/* dailytasks.module.scss */

.tab2-content {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  padding-bottom: 200px;

  .checkbox-list-content {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;

    .list-item {
      font-size: 20px;
      width: auto;
      margin: 10px;
      padding: 20px;
      border: 1px solid #ccc;
      text-align: center;
    }
  }
}

.tab2-content h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;

  .task-checkbox-label {
    white-space: nowrap;
    display: flex;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
  }

  .task-checkbox {
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  .checkbox-list-content {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
  }

  .tab2-content {
    display: flex;
    flex-direction: column;
  }
  
}
