/* Reset some default margin and padding */
html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
  }
  
  /* Style for the main content area */
  .main-content {
    min-height: calc(100% - 100px); /* Adjust as needed */
    padding-bottom: 100px; /* Set to the footer's height */
    box-sizing: border-box;
  
    /* Add other styling as needed */
  }
  